/* Corpo e HTML */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  color-scheme: dark;
  background-color: #222222 !important; /* Cambia il colore di sfondo come preferisci */
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: inherit;
  color-scheme: dark;
}

/* Contenitori principali */
.main-container {
  width: 100%;
  height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Allinea il contenuto in alto */
  width: 100%;
  min-height: 100%;
  text-align: center;
  font-size: 16px;
}

/* Bottoni generali */
.buttons,
.category-buttons {
  display: flex;
  gap: 5px;
  flex-wrap: nowrap;
  white-space: nowrap;
  max-width: 100vw;
  padding-bottom: 2px;
  justify-content: center; /* Centra i bottoni */
}

button {
  background-color: #340000;
  color: white !important; /* Assicura che il testo sia sempre bianco */
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem; /* Dimensione base del testo */
  cursor: pointer;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  min-width: 4vw; /* Impedisce ai bottoni di diventare troppo piccoli */
  max-width: 200px; /* Impedisce ai bottoni di diventare troppo grandi */
  word-wrap: normal;
  white-space: nowrap; /* Impedisce che il testo vada a capo */
  overflow: hidden; /* Evita che il testo venga troncato */
  text-overflow: ellipsis; /* Mostra '...' se il testo è troppo lungo, ma non a capo */
}

/* Bottoni principali */
.button-main {
  padding: 6px 12px;
  margin: 3px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #340000;
  transition: background-color 0.3s;
  color: white; /* Testo bianco per i bottoni principali */
}

.button-main.selected {
  background-color: #C50000;
  color: #ffffff;
}

.button-main:hover {
  background-color: #890000;
}

.button-main.selected:hover {
  background-color: #C50000; /* Impedisce la modifica del colore di sfondo */
}



/* Bottoni secondari */
.button-secondary {
  padding: 6px 12px;
  margin: 3px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #2E0034;
  cursor: pointer;
  transition: background-color 0.3s;
  color: white; /* Testo bianco per i bottoni secondari */
}

.button-secondary.selected {
  background-color: #AC00C3;
  color: white;
}

.button-secondary:hover {
  background-color: #790089;
}

.button-secondary.selected:hover {
  background-color: #AC00C3; /* Impedisce la modifica del colore di sfondo */
}

/* Bottoni Filtri Incantesimi */
/* Bottoni per il livello */
.level-button {
  padding: 0; 
}

/* Bottoni per le classi */
/* Bottoni per le classi */
.class-button {
  /* Aggiungi altre personalizzazioni qui */
}

/* Bottoni per le scuole di magia */
.school-button {
  /* Aggiungi altre personalizzazioni qui */
}
/* Bottoni per il rituale */
.ritual-button {
  /* Aggiungi qui il tuo stile personalizzato */
}


/* Bottoni specifici */
.back-button {
  margin-top: 1.2vw;
  border-radius: 10px;
}

.wiki-button {
  position: absolute;
  top: 50%; /* Posiziona il bottone al centro della pagina */
  left: 50%;
  transform: translate(-50%, -50%); /* Centra esattamente il bottone */
  padding: 20px 40px;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: #E04F00;
  color: white;
  border: none;
  cursor: pointer;
}

/* Quando la Wiki è aperta, togli la centratura */
.wiki-open {
  display: block;
  position: relative;
  top: auto;
  left: auto;
  transform: none;
}

/* Lista degli oggetti e descrizioni */
.items-list {
  margin-top: 1vw;
  font-size: 16px;
}

.item {
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
  color: #ffffff; /* Colore scuro per una visibilità migliore */
}

.item:hover {
  transform: scale(1.1);
  color: #C50000;
}

.item:active {
  transform: scale(0.95);
  color: #C50000;
}

/* Ricerca */
.search-bar {
  margin: 10px 0;
  text-align: center;
}

.search-bar input {
  padding: 6px 10px;
  font-size: 16px;
  width: 300px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.search-bar input:focus {
  border-color: #890000;
  outline: none;
}

.item-description p {
  white-space: pre-line;
  font-size: 16px;
  color: #ffffff; /* Colore del testo nella descrizione per visibilità */
}

/* Media Queries per schermi più piccoli */
@media {
  .school-button {
   font-size: ;
   min-width: 6vw;
   min-height: 2.5vw;
  }
  .level-button {
    min-width: 6vw;
  }
  .items-list {
    font-size: 1.5rem;
  }
}

@media (max-width: 1024px) {
  .app-container, .items-list, .item-description p {
    font-size: 18px; /* Aumenta la dimensione del testo per schermi medio-piccoli */
  }
  button {
    font-size: 0.9rem; /* Riduce leggermente la dimensione del testo */
    padding: 5px 10px;
  }
  .level-button,
  .class-button,
  .school-button {
    font-size: 0.9rem; /* Riduce la dimensione del testo */
    padding: 5px 10px; /* Riduce il padding */
    margin-right: 0.5;
    margin-left: 0.5;
  }
}

@media (max-width: 768px) {
  .app-container, .items-list, .item-description p {
    font-size: 18px; /* Aumenta un po' la dimensione del testo per schermi più piccoli */
  }
  button {
    font-size: 0.8rem; /* Ulteriore riduzione della dimensione del testo */
    padding: 4px 8px;
  }
  .level-button,
  .class-button,
  .school-button {
    font-size: 0.8rem; /* Riduce ulteriormente la dimensione del testo */
    padding: 4px 8px; /* Riduce il padding */
    margin-right: 0;
    margin-left: 0;
    font-weight: 250;
  }
}

@media (max-width: 480px) {
  .app-container, .items-list, .item-description p {
    font-size: 16px; /* Riduce la dimensione del testo per schermi molto piccoli */
  }
  button {
    font-size: 0.7rem; /* Riduce ulteriormente la dimensione del testo */
    padding: 3px 6px;
  }
  .level-button,
  .class-button,
  .school-button {
    font-size: 0.7rem; /* Ulteriore riduzione della dimensione del testo */
    padding: 3px 6px; /* Ulteriore riduzione del padding */
    margin-right: 0;
    margin-left: 0;
    font-weight: 175;
  }
  .school-button {
    font-size: 0.46rem;
    min-width: 10vw;
    min-height: 5vw;
   }
   .button-main {
    font-size: 0.85rem;
    min-width: 10vw;
    min-height: 5vw;
  }
}